html {	
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	position: relative;
	top: 80px;
	background-image: url("../img/main_bw1_blur2.jpg");
	background-position: center;
	background-size: cover;
}

.form-signin {
	font-family: 'Open Sans', sans-serif;
}

.form-group {
	color: white;
}

.form-signin #loginForm {
	color: white;
}

#signinBtn {
	background-color: #2ecc71;
	border-color: #2ecc71;
}

.mascot {
	height: 175px;
	width: 175px;
	margin-left: auto;
	margin-right: auto;
}

.mascot img {
	height: 100%;
	width: auto;
}

.alert-danger {
	/*overwrite the alert-danger class in bootstrap. Error is displayed for incorrect login*/
	background-color: #E74C3C;
    border-color: #E74C3C;
}

.alert-info {
	/*overwrite the alert-info class in bootstrap. Message is displayed when logged out*/
    background-color: #6BB9F0;
    border-color: #6BB9F0;
}