html {	
	height: 100%;
	width: 100%;
}

body {
	width: 100%;
	position: relative;
	top: 150px;
	background-image: url("../img/main_bw1.jpg");
	background-position: center;
	background-size: cover;
}

.form-signin {
	font-family: 'Open Sans', sans-serif;
}

.form-group {
	color: white;
}

.form-signin #loginForm {
	color: white;
}

#signinBtn {
	background-color: #2ecc71;
	border-color: #2ecc71;
}

.mascot {
	height: 100px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
}

.mascot img {
	width: 100%;
	height: auto;
}
