html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #EEEEEE;
}

* {
/* Removes rounded corners in Bootstrap*/
    border-radius: 0 !important;
}

.btnSmall {
	width: 150px;
}

.btnLarge {
    width: 250px;
}

.btn-default-size {
  width: 175px;
}

.navbar {
    position:absolute;
    width:100%;
    margin-bottom: 0;
    margin-top:0;
    /*z-index:10;*/
}

.navbar-btn{
    width:110px;
}

#lessonStepContainer{
    width:100%;
    position: absolute;
    bottom:50px;
    top:65px;
    padding-left:0px;
    padding-right:0px;
    margin-left:0px
}

#mediaContainer{
    background-color: #000000;
    height:100%;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:0;
}

#instructionContainer{
    height:100%;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:15px;
    padding-bottom: 50px;
}

#instructionContainer .instruction-header{
    margin-right:0px;
    padding: 15px 10px 15px 15px;
    background-color: #FFFFFF;
}

#instructionContainer .instruction-body{
  height: 100%;
  padding: 15px 15px 15px 15px;
  background-color: #C5EFF7;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  margin-right:0px;
}

.scroll-area{
    overflow-y: auto;
}

#lessonNavigationContainer{
    background-color: whitesmoke;
    width:102%;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:0;
    height: 50px;
}

.footer{
    position: fixed;
    bottom: 0;
}

.label{
  font-size:medium;
}

.lesson-media{
  z-index:10;
  position:relative;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    /*z-index:20;*/
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-nav .dropdown {
    text-align:center;
    margin-right:80px;
}

/*#lessonStepDropdown{
    z-index:1100;
}*/

#navbarTitle{
    font-size: large;
    font-weight: bold;
}

.navigation-panel {
    width:800px;
    height:350px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -400px;
}


/* Boostrap Navbar Title Style Override*/

.navbar-default .navbar-nav > li > a {
    color: #F4F4F4;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #FFFFFF;
}

.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #F9F9F9;
    background-color: #283849;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #F9F9F9;
    background-color: #283849;
}

.open > .dropdown-menu{
    background-color:#ffffff;
    z-index:1200;
}

.dropdown-menu > li > a{
    color: #597EA2;
    font-weight: bold;
}

/*positioning styling for loading icon (from font awesome)*/
#loadingDisplay{
    position:absolute;
    top:200px;
    z-index:1;
}

#loadingDisplay .fa-circle-o-notch{
    font-size: 10em;
    color:white;
}

.loading{
    font-size: 3em;
    color:white;
}

#repeat{
    position:absolute;
    width:5%;
    left:47.5%;
    right:47.5%;
}

#replayText{
    position:absolute;
    width:2%;
    left:65%;
    right:35%;
    bottom:5px;
    font-size:20px;
    color:black;
}

.fa-repeat{
    font-size: 3em;
    color:black;
    bottom:5px;
}

.btn-navigation {
    width: 200px;
    margin: 10px 15px;
}

/*overwhite the navbar-default class in bootstrap*/
.navbar-default {
    color: #EEEEEE;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.navbar-default .navbar-nav > li > a {
    color: #EEEEEE;
}

.btn-info {
    color: #EEEEEE;
    background-color: #2C3E50;
    border-color: #2C3E50;
}

.btn-navigation > a:hover {
    color: #2C3E50;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}
