html, body {
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

body {
    background-color: #2A2D33;
}

* {
/* Removes rounded corners in Bootstrap*/
    border-radius: 0 !important;
}

#nav_scratch {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;
}

#nav_scratch:focus,
#nav_scrach.focus,
#nav_scratch:hover,
#nav_scratch:active,
#nav_scratch.active,
#nav_scratch:active:hover,
#nav_scratch.active:hover,
#nav_scratch:active:focus,
#nav_scratch.active:focus,
#nav_scratch:active.focus,
#nav_scratch.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

#nav_lesson_1 {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;
}

#nav_lesson_1:focus,
#nav_lesson_1.focus,
#nav_lesson_1:hover,
#nav_lesson_1:active,
#nav_lesson_1.active,
#nav_lesson_1:active:hover,
#nav_lesson_1.active:hover,
#nav_lesson_1:active:focus,
#nav_lesson_1.active:focus,
#nav_lesson_1:active.focus,
#nav_lesson_1.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

#btnPrev {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;
}

#btnPrev:focus,
#btnPrev.focus,
#btnPrev:hover,
#btnPrev:active,
#btnPrev.active,
#btnPrev:active:hover,
#btnPrev.active:hover,
#btnPrev:active:focus,
#btnPrev.active:focus,
#btnPrev:active.focus,
#btnPrev.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

#btnNext {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;
}

#btnNext:focus,
#btnNext.focus,
#btnNext:hover,
#btnNext:active,
#btnNext.active,
#btnNext:active:hover,
#btnNext.active:hover,
#btnNext:active:focus,
#btnNext.active:focus,
#btnNext:active.focus,
#btnNext.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

#btn-back {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;   
}

#btn-back:focus,
#btn-back.focus,
#btn-back:hover,
#btn-back:active,
#btn-back.active,
#btn-back:active:hover,
#btn-back.active:hover,
#btn-back:active:focus,
#btn-back.active:focus,
#btn-back:active.focus,
#btn-back.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

#btn-nav-home {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;   
}

#btn-nav-home:focus,
#btn-nav-home.focus,
#btn-nav-home:hover,
#btn-nav-home:active,
#btn-nav-home.active,
#btn-nav-home:active:hover,
#btn-nav-home.active:hover,
#btn-nav-home:active:focus,
#btn-nav-home.active:focus,
#btn-nav-home:active.focus,
#btn-nav-home.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

#btn-nav-logout {
    color: #fff;
    background-color: #12AA52;
    border-color: #1C7F45;   
}

#btn-nav-logout:focus,
#btn-nav-logout.focus,
#btn-nav-logout:hover,
#btn-nav-logout:active,
#btn-nav-logout.active,
#btn-nav-logout:active:hover,
#btn-nav-logout.active:hover,
#btn-nav-logout:active:focus,
#btn-nav-logout.active:focus,
#btn-nav-logout:active.focus,
#btn-nav-logout.active.focus {
    color: #fff;
    background-color: #1C7F45;
    border-color: #196838;
}

.btnSmall {
	width: 150px;
}

.btnLarge {
    width: 250px;
}

.btn-default-size {
  width: 175px;
}

.navbar {
    position:absolute;
    width:100%;
    margin-bottom: 0;
    margin-top:0;
    z-index:10;
}

.navbar-btn{
    width:110px;
}

#lessonStepContainer{
    width:100%;
    position: absolute;
    bottom:50px;
    top:65px;
    padding-left:0px;
    padding-right:0px;
    margin-left:0px
}

#mediaContainer{
    background-color: #000000;
    height:100%;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:0;
}

#instructionContainer{
    height:100%;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:15px;
    padding-bottom: 50px;
}

#instructionContainer .instruction-header{
    margin-right:0px;
    padding: 15px 10px 15px 15px;
    /*background-color: #FFFFFF;*/
    background-color: #2A2D33;
    color: whitesmoke;
    border-bottom-style: solid;
    border-color: whitesmoke;
}

#instructionContainer .instruction-body{
    height: 100%;
    padding: 15px 15px 15px 15px;
    /*background-color: #C5EFF7;*/
    background-color: #2A2D33;
    color: whitesmoke;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    margin-right:0px;
}

.scroll-area{
    overflow-y: auto;
}

#lessonNavigationContainer{
    background-color: whitesmoke;
    width:102%;
    margin-right:0;
    margin-left:0;
    padding-right:0;
    padding-left:0;
    height: 50px;
}

.footer{
    position: fixed;
    bottom: 0;
}

.label{
  font-size:medium;
}

.lesson-media{
  position:relative;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    z-index:10;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
    z-index:100;
}

.navbar-nav .dropdown {
    text-align:center;
    margin-right:80px;
    z-index:100;
}

#lessonStepDropdown{
    z-index:1100;
}

#navbarTitle{
    font-size: large;
    font-weight: bold;
    color: #414141;
}

.navigation-panel {
    width:800px;
    height:350px;
    position:absolute;
    left: 50%;
    top: 50%;
    margin: -250px 0 0 -400px;
}

.modal.modal-wide .modal-dialog {
    width: 80%;
}
.modal-wide .modal-body {
    overflow-y: auto;
}

#loadingDisplay{
    width: 100%;
    position:absolute;
    top:200px;
    z-index:-1;
}

#loadingDisplay .fa-circle-o-notch{
    font-size: 10em;
    color:white;
}

.loading{
    font-size: 3em;
    color:white;
}

#repeat{
    position:absolute;
    width:5%;
    left:47.5%;
    right:47.5%;
}

#replayText{
    position:absolute;
    width:2%;
    left:65%;
    right:35%;
    bottom:5px;
    font-size:20px;
    color:black;
}

.fa-repeat{
    font-size: 3em;
    color:black;
    bottom:5px;
}

.btn-navigation {
    width: 200px;
    margin: 10px 15px;
}

.navbar-default .navbar-nav > li > a {
    color: #EEEEEE;
}

.btn-navigation > a:hover {
    color: #2C3E50;
    background-color: #EEEEEE;
    border-color: #EEEEEE;
}
