html, body {
    max-width: 100%;
    overflow-x: hidden;
}

body {
    background-color: #6C7A89;
} 

.btnSmall {
	width: 150px;
}

.btnLarge {
    width: 250px;
}

.btn-default-size {
  width: 175px;
}


#mediaContainer{
  padding-left: 60px;
}

#instructionContainer{
  padding-right: 80px;
}


#instructionContainer .instruction-header{
  padding: 15px 10px 15px 15px;
  background-color: #FFFFFF;
}

#instructionContainer .instruction-body{
  padding: 30px 15px;
  background-color: #C5EFF7;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

#lessonNavigationContainer{
   padding-left: 40px;
   padding-right: 15px;
   margin-top: 20px
}

#videoSwitchContainer{
  margin-bottom:10px;
  text-align: right;
}

.label{
  font-size:medium;
}

.lesson-media{
    width:100%;
    height:100%;
}

.dropdown{
    text-align:center;
}

.navbar-nav {
    width: 100%;
    text-align: center;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
}

.navbar-nav .dropdown {
    margin-right:50px;
}

#navbarTitle{
    font-size: large;
    font-weight: bold;
    color: #414141;
}

/*
#navbarTitle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: large;
}
*/

/*
.btn-navigation {
    width: 200px;
    margin: 10px 15px;
}

.navigation-panel {
  width:800px;
  height:350px;
  position:absolute;
  left: 50%;
  top: 50%;
  margin: -250px 0 0 -400px;
}



.header{
  background-color: white;
  width:300px;
  height:50px;
  text-align:center;
}

.title{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}



.link-home{
  font-size: large;
}

.vertical-aligned{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#navbar-title{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
    font-weight: bold;
    font-size: large;
}

#switchContainer{
  position:absolute;
  right:300px;
  top:50px;
}





#set-height {
  display: block;
  height: 13500px;
}

p font-family helvetica {
  font-size: 24px;
}
*/